{% extends 'src/dashboard/base.html' %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}
<head>
  <title>{% block title %}Sign Up{% endblock %}</title>

 {% block css_links %}
  <link href="{% static 'assets/media/images/icons/logo.svg' %}" rel="shortcut icon" type="image/x-icon" />
  <!-- Start::Global Styles (used by all pages) -->
  <link href="{% static 'assets/css/styles.bundle.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Global Styles -->
  <!-- Start::Page Styles (used by this page) -->
  <link href="{% static 'assets/css/pages/sign-up.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Page Styles -->
  {% endblock %}
{% block content %}
<body class="">
  {% if messages %}
  {% for message in messages %}
      <div class="toast align-items-center text-bg-primary border-0 alert alert-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
           {{ message }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>

  {% endfor %}
  {% endif %}
    <div class="sign-up">
      <div class="sign-up-card">
        <div class="sign-up__heading">
          <img src="{% static 'assets/media/images/icons/sm.png' %}" alt="" class="logo">
          <p class="fb-sm sign-up__title">To Change your Password. Please Enter the new Password below</p>
        </div>
        <form method="post" action="{% url 'account_change_password' %}" class="sign-up__forms">
            {% csrf_token %}
          
            <div class="forms-group">
                {% render_field form.password1 type="password" name="password1" placeholder="New Password" autocomplete="new-password" aria-describedby="id_password1_helptext" id="id_password1" class+="form-control" %}
                <!-- <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"> -->
                <!-- <span class="form-group__password-toggle js-form-group__password-toggle" data-password="password"></span> -->
            </div>
            <div class="forms-group">
                {% render_field form.password2 type="password" name="password2" placeholder="New Password (again)" id="id_password2" class+="form-control" %}
                <!-- <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"> -->
                <!-- <span class="form-group__password-toggle js-form-group__password-toggle" data-password="password"></span> -->
            </div>
          
          <input type="submit" class="btn btn-primary btn-pill btn-submit" value="Change Password"></input>
        </form>
      </div>
    </div>
    {% block js %}
    <!-- Start::Global Bundle Scripts (used by all pages) -->
    <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
    <script src="{% static 'assets/js/custom/sidebar.js' %}"></script>
    <!-- End::Global Bundle Scripts -->
    <!-- Start::Page Scripts (used by this page) -->
    <script src="{% static 'assets/js/pages/sign-up-page.js' %}"></script>
    <!-- End::Page Scripts -->
    {% endblock %}
    {% endblock %}

