{% load static %} {% load tz %}

<!-- Start::Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__item footer-item-main">
        <img
          class="footer-item-main__logo"
          src="{% static 'assets/media/images/Smr.png' %}"
          alt="SmartMine"
        />
        <p class="fb-lg footer-item-main__desc">Your best crypto partner.</p>
        <div class="footer-item-main__socmed">
          <!-- <a href="#" class="footer-socmed">
            <img class="footer-item-main__logo" src="{% static 'assets/media/images/icons/logo-linkedin.svg' %}" alt="Linkedin" />
          </a> -->
          <a href="#" class="footer-socmed">
            <img
              class="footer-item-main__logo"
              src="{% static 'assets/media/images/icons/logo-facebook.svg' %}"
              alt="Facebook"
            />
          </a>
          <a href="#" class="footer-socmed">
            <img
              class="footer-item-main__logo"
              src="{% static 'assets/media/images/icons/logo-ig.svg' %}"
              alt="Instagram"
            />
          </a>
        </div>
      </div>
      <div class="footer__item footer-item-quick-links">
        <h6 class="footer__item-title">Quick Links.</h6>
        <div class="footer-quick-links">
          <a
            href="https://www.binance.com/en"
            class="fb-md footer-quick-links__link"
            >Binance</a
          >
          <a
            href="https://www.bitcoin.com/"
            class="fb-md footer-quick-links__link"
            >Bitcoin</a
          >
          <a href="{% url 'dashboard' %}" class="fb-md footer-quick-links__link"
            >Trade Now</a
          >
          <!-- <a href="" class="fb-md footer-quick-links__link">Company</a> -->
          <!-- <a href="" class="fb-md footer-quick-links__link">Pricing</a> -->
        </div>
      </div>
      <div class="footer__item footer-item-updates">
        <h6 class="footer__item-title">Submit for updates.</h6>
        <p class="fb-md footer-item-updates__desc">
          Subscribe to get update and notify our exchange and products
        </p>
        <div class="mini-form-sm__box">
          <form class="mini-form">
            <input
              type="text"
              class="form-control form-control-sm mini-form__input"
              placeholder="Enter your email address"
              autocomplete="off"
            />
            <input
              type="submit"
              class="btn btn-primary btn-sm mini-form__submit"
              value="Send"
            />
          </form>
        </div>
      </div>
    </div>
    <div class="footer__foot">
      <p class="fb-md footer-foot__copyright">
        SmartMine © {% now "Y" %}. All rights reserved.
      </p>
      <div class="footer-foot__tos-privacy">
        <a href="#" class="fb-md footer-foot__link">Term of Service</a>
        <span class="separator"></span>
        <a href="#" class="fb-md footer-foot__link">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<!-- End::Footer -->
