<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}Dashboard | SmartMine - Landing Page & Dashboard{% endblock %}</title>
  <meta content="Dashboard  | SmartMine - Landing Page & Dashboard" property="og:title">
  <meta content="Dashboard | SmartMine - Landing Page & Dashboard" property="twitter:title">
  <meta name="description" content="Landing Page & Dashboard" />
  {% block css_links %}

  {% endblock %}
  <link href="{% static 'assets/media/images/icons/logo.svg' %}" rel="shortcut icon" type="image/x-icon" />

  <!-- Start::Global Styles (used by all pages) -->
  <link href="{% static 'assets/css/styles.bundle.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Global Styles -->
  <!-- Start::Plugins (used by this page) -->
  <link href="{% static 'assets/plugins/apexcharts/apexcharts.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Plugins -->
  <!-- Start::Page Styles (used by this page) -->
  <link href="{% static 'assets/css/pages/dashboard-v1.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Page Styles -->
  <link href="{% static 'assets/css/pages/wallet-v1.css' %}" rel="stylesheet" type="text/css" />

</head>

<body class="">

   
  <!-- Start::Dashboard Navbar v1 -->
  <nav class="navbar navbar-expand-lg header-navbar header-navbar-dashboard--v1">
    <div class="container container--dashboard-nav">
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'assets/media/images/icons/menu.svg' %}" alt="MENU" />
      </button>
      <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img class="navbar-brand__text" src="{% static 'assets/media/images/icons/Smr.png' %}" style="width: 200px;" alt="SmartMine" />
        <h4 class="navbar-brand__text--mobile">Dashboard</h4>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-collapse__content">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'exchange' %}">Exchange</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wallet' %}">Wallet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'market' %}">Market</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-right">
        <div class="navbar-search">
          <input type="text" class="navbar-search__input" placeholder="Search">
          <img src="{% static 'assets/media/images/icons/search.svg' %}" alt="search-icon" class="navbar-search__image">
        </div>
        <div class="navbar-notifications">
          <img src="{% static 'assets/media/images/icons/notifications.svg' %}" alt="notifications-icon" class="navbar-notifications__image">
          <div class="navbar-notifications__dropdown">
            <p class="fb-regular fb-regular--bold notifications__title">Notifications</p>
            <div class="notifications__box">
              <div class="notifications__item">
                <img src="{% static 'assets/media/images/32x32.png' %}" alt="" class="notifications__item-image">
                <div class="notifications__item-message">
                  <p class="notifications__item-sender">Keanu Reeves</p>
                  <p class="notifications__item-text">promoted your post</p>
                </div>
              </div>
              <div class="notifications__item">
                <img src="{% static 'assets/media/images/32x32.png' %}" alt="" class="notifications__item-image">
                <div class="notifications__item-message">
                  <p class="notifications__item-sender">Keanu Reeves</p>
                  <p class="notifications__item-text">promoted your post</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="navbar-profile-menu">
          <p class="navbar-profile-menu__text">{{ request.user.username }}</p>
          <img src="{% static 'assets/media/images/38x38.png' %}" alt="profile-photo-icon" class="navbar-profile-menu__image">
          <img src="{% static 'assets/media/images/icons/arrow-down.svg' %}" alt="arrow-down-icon" class="navbar-profile-menu__arrow">
          <div class="navbar-profile-menu__dropdown">
            <div class="navbar-profile-menu__dropdown-item">
              <a class="fb-regular dropdown-item__link" href="{% url 'profile' %}">Profile</a>
            </div>
            <div class="navbar-profile-menu__dropdown-item">
              <a class="fb-regular dropdown-item__link" href="{% url 'account_logout' %}">Log Out</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="navbar-search-popup">
        <input type="text" class="navbar-search-popup__input js-navbar-search-popup__input" placeholder="Search">
        <img src="{% static 'assets/media/images/icons/search.svg' %}" alt="search-icon" class="navbar-search-popup__image">
        <img src="{% static 'assets/media/images/icons/plus-icon.svg' %}" alt="cancel-icon" class="navbar-search-popup__image--cancel js-navbar-search-popup__image--cancel">
      </div>
    </div>
  </nav>
  <!-- End::Dashboard Navbar v1 -->


    {% block content %}



    {% if messages %}
    {% for message in messages %}
        <div class="toast align-items-center text-bg-primary border-0 alert alert-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
             {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>

    {% endfor %}
    {% endif %}
    {% block js%}
  <!-- Start::Global Bundle Scripts (used by all pages) -->
  <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
  <script src="{% static 'assets/js/custom/sidebar.js' %}"></script>
  <!-- End::Global Bundle Scripts -->
  <!-- Start::Plugins (used by this page) -->
  <script src="{% static 'assets/plugins/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slick/slick.min.js' %}"></script>
  <!-- End::Plugins -->
  <!-- Start::Page Scripts (used by this page) -->
  <script src="{% static 'assets/js/custom/chart.js' %}"></script>
  <script src="{% static 'assets/js/pages/dashboard-page-v1.js' %}"></script>
  <script src="{% static 'assets/js/custom/navbar.js' %}"></script>
  <script src="{% static 'assets/js/custom/custom-select.js' %}"></script>
  <!-- End::Page Scripts -->
   {% endblock %}
   {% endblock %}
</body>

</html>