{% extends 'src/dashboard/basic.html' %}
{% load static %}

<title>{%block title %}update profile{% endblock %}</title>
{%block css_links %}
  <link href="{% static 'assets/media/images/icons/logo.svg' %}" rel="shortcut icon" type="image/x-icon" />

  <!-- Start::Global Styles (used by all pages) -->
  <link href="{% static 'assets/css/styles.bundle.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Global Styles -->
  <!-- Start::Plugins (used by this page) -->
  <link href="{% static 'assets/plugins/datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Plugins -->
  <!-- Start::Page Styles (used by this page) -->
  <link href="{% static 'assets/css/pages/profile-v1.css' %}" rel="stylesheet" type="text/css" />
  <!-- End::Page Styles -->
  {% endblock %}
  <body class="">
  {% block content %}
  
  <div class="profile profile-v1">
    <div class="container container--dashboard">
      <div class="profile__title">
        <div class="profile__title-icon-wrapper">
          <img src="{% static 'assets/media/images/icons/profile-pict.svg' %}" alt="" class="profile__title-icon">
        </div>
        <div class="profile__title-text">
          <h3 class="profile__title-text-1">Update your Profile</h3>
          <p class="fd-md profile__title-text-2">Setup your profile</p>
        </div>
      </div>
  
      <div class="profile__container">
        <div class="profile__content">
          <div class="profile__contact-info">
            <div class="contact-info__photo-profile">
              <div class="photo-profile__group">
                <img src="{% static 'assets/media/images/64x64.png' %}" alt="" class="photo-profile__group-photo">
                <div class="photo-profile__group-text">
                  <p class="fd-sm fd-sm--bold photo-profile__group-text-name">John Doe</p>
                  <p class="fb-sm photo-profile__group-text-email">johndoe123@gmail.com</p>
                </div>
              </div>
              <div class="photo-profile__cta">
                <button class="btn btn-primary btn-sm btn-pill">Change Photo Profile</button>
                <button class="btn btn-secondary btn-sm">Delete</button>
              </div>
            </div>
            <div class="contact-info__name">
              <div class="contact-info__name-form">
                <p class="fb-regular fb-regular--bold contact-info__name-form-text">Username</p>
                <div class="d-block mini-form-sm__box contact-info__name-form-input">
                  <form class="mini-form">
                    <input type="text" class="form-control form-control-sm mini-form__input" placeholder="John Doe" autocomplete="off">
                  </form>
                </div>
              </div>
              <div class="contact-info__name-form">
                <p class="fb-regular fb-regular--bold contact-info__name-form-text">Email</p>
                <div class="d-block mini-form-sm__box contact-info__name-form-input">
                  <form class="mini-form">
                    <input type="email" class="form-control form-control-sm mini-form__input" placeholder="johndoe123@gmail.com" autocomplete="off">
                  </form>
                </div>
              </div>
            </div>
            <div class="contact-info__crypto">
              <p class="fb-regular fb-regular--bold contact-info__crypto-text">Crypto addresses</p>
              <div class="contact-info__crypto-group">
                <div class="contact-info__crypto-group-coins">
                  <img src="{% static 'assets/media/images/crypto-coins-1.png' %}" alt="" class="contact-info__crypto-group-coin">
                  <img src="{% static 'assets/media/images/crypto-coins-2.png' %}" alt="" class="contact-info__crypto-group-coin">
                  <img src="{% static 'assets/media/images/crypto-coins-3.png' %}" alt="" class="contact-info__crypto-group-coin">
                  <img src="{% static 'assets/media/images/crypto-coins-4.png' %}" alt="" class="contact-info__crypto-group-coin">
                </div>
                <img src="{% static 'assets/media/images/icons/arrow-right-grey.svg' %}" alt="" class="contact-info__crypto-group-arrow">
              </div>
            </div>
          </div>
          <div class="profile__personal-info">
            <div class="personal-info__name-form">
              <p class="fb-regular fb-regular--bold personal-info__name-form-text">First name</p>
              <div class="d-block mini-form-sm__box personal-info__name-form-input">
                <form class="mini-form">
                  <input type="text" class="form-control form-control-sm mini-form__input" placeholder="John" autocomplete="off">
                </form>
              </div>
            </div>
            <div class="personal-info__name-form">
              <p class="fb-regular fb-regular--bold personal-info__name-form-text">Last name</p>
              <div class="d-block mini-form-sm__box personal-info__name-form-input">
                <form class="mini-form">
                  <input type="text" class="form-control form-control-sm mini-form__input" placeholder="Doe" autocomplete="off">
                </form>
              </div>
            </div>
            <div class="personal-info__name-form personal-info__name-form--date">
              <p class="fb-regular fb-regular--bold personal-info__name-form-text">Date of birth</p>
              <div class="d-block mini-form-sm__box personal-info__name-form-input">
                <form class="mini-form">
                  <input type="text" id="datepicker-1" class="form-control form-control-sm mini-form__input" placeholder="10 / 21 / 2022" autocomplete="off">
                </form>
                <img class="personal-info__name-form-input-icon" src="{% static 'assets/media/images/icons/calendar.svg' %}" alt="">
              </div>
            </div>
            <div class="personal-info__name-form personal-info__name-form--country">
              <p class="fb-regular fb-regular--bold personal-info__name-form-text">Country of residence</p>
              <div class="d-block">
                <div class="forms-group forms-select js-forms-select" id="custom-select-form-1">
                  <div class="forms-group__items selected" data-selected="indonesia">
                    <p class="fb-regular fg-items__value">Indonesia</p>
                  </div>
                  <img class="forms-select__arrow-down" src="{% static 'assets/media/images/icons/arrow-down.svg' %}" alt="">
                  <div class="forms-group__dropdown js-forms-group__dropdown">
                    <div class="forms-group__items active" data-selected="indonesia">
                      <p class="fb-regular fg-items__value">Indonesia</p>
                    </div>
                    <div class="forms-group__items" data-selected="usa">
                      <p class="fb-regular fg-items__value">USA</p>
                    </div>
                    <div class="forms-group__items" data-selected="japan">
                      <p class="fb-regular fg-items__value">Japan</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile__delete-account">
            <div class="delete-account__group">
              <p class="fb-regular fb-regular--bold delete-account__group-title">Delete account</p>
              <p class="fb-regular delete-account__group-desc">Closing your account can’t be undone. Please make sure your account balance is $0.00 before you begin.</p>
            </div>
            <button class="btn btn-primary btn-sm btn-pill delete-account__btn">Delete Account Now</button>
          </div>
          <button class="btn btn-primary btn-lg btn-pill profile__save-btn">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  
  {%block js %}
  <!-- Start::Global Bundle Scripts (used by all pages) -->
  <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
  <script src="{% static 'assets/js/custom/sidebar.js' %}"></script>
  <!-- End::Global Bundle Scripts -->
  <!-- Start::Plugins (used by this page) -->
  <script src="{% static 'assets/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <!-- End::Plugins -->
  <!-- Start::Page Scripts (used by this page) -->
  <script src="{% static 'assets/js/custom/navbar.js' %}"></script>
  <script src="{% static 'assets/js/custom/custom-select.js' %}"></script>
  <script src="{% static 'assets/js/custom/datepicker.js' %}"></script>
  <!-- End::Page Scripts -->
  {% endblock %}
  {% endblock %}